# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*

# Vite cache
.vite/

# Mac system files
.DS_Store

# metabase testing
metabase/

# Editor directories and files
.vscode/

# Ignore all HTML files except index.html
*.html
!index.html

.env*

!.env.example.*

frontend/app